{
    "version": 1,
    "key": "core.config",
    "data": {
        "latitude": 30.51438596730283,
        "longitude": -89.13652503161808,
        "elevation": 0,
        "unit_system": "imperial",
        "location_name": "Home",
        "time_zone": "America/Chicago",
        "external_url": null,
        "internal_url": null,
        "currency": "USD"
    }
}